{% extends "BookingSystem/base.html" %}

{% block content %}

<div class="container">
<h2 style="color:white"><br/><br/>Experience Our Service...<br/></h2>
<h3 style="color:white">India has some of the most spectacular and unforgettable rail journeys in the world.<br/>
    Here you experience a simple way to find out everything you need to know in one easy place.<br/>
    There's no better way to enjoy India's outback, cities, coastal towns and regional areas in comfort.<br/>
</h3>
</div>
{% endblock content %}
