{% extends "BookingSystem/base.html" %}

{% block content %}
{% for train in trains %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h4><a class="mr-2" href="{% url 'train-detail' train.id %}">Train: {{ train.Train_Name }}</a></h4>
            <small class="text-muted">{{ train.Train_Type }}</small>
        </div>
        <p><a class="article-title">Journey: From {{ train.Source }}    to     {{ train.Destination }}</a></p>
        <p class="article-content">Travel Time: {{ train.Travel_Time }}</p>
        <p class="article-content">General Class Fare: {{ train.General_Class }}    and    First Class Fare: {{ train.First_Class }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}
